PRIMERO/XML/ejercicio 10/ejercicio10.3.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT arrel (#PCDATA | a | b)* >
<!ELEMENT a (c , ((e,e) | (d,d))) >
<!ELEMENT c (#PCDATA) >
<!ELEMENT e  EMPTY>
<!ELEMENT d (#PCDATA) >
<!ELEMENT b ((f, f, f)* , g+, h?) >
<!ELEMENT f (#PCDATA) >
<!ELEMENT g (#PCDATA) >
<!ELEMENT h (#PCDATA) >
<!ATTLIST a at1 ID #REQUIRED >
<!ATTLIST e at3 (v1 | v2) "v1" >
<!ATTLIST c at2 CDATA #FIXED "fixe" >




