PRIMERO/XML/ejercicio11/ejercicio11.1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT arrel (aa+) >
<!ELEMENT aa (a, b, d, e, f+) >
<!ELEMENT a (#PCDATA) >
<!ELEMENT b (c, c, c) >
<!ELEMENT d (#PCDATA) >
<!ELEMENT e EMPTY >
<!ELEMENT f (g, h, i?) >
<!ELEMENT c (#PCDATA) >
<!ELEMENT g (#PCDATA) >
<!ELEMENT h (#PCDATA) >
<!ELEMENT i EMPTY >


